<!DOCTYPE html>
<html>
<head>
    <title>AiRehab EMR</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">AiRehab EMR</a></h1>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
